.editorContain {
    width: 80%;
    height: 100%;
    display: flex;
}

.editor {
    height: 100%;
    width: 100%;
    padding: 1%;
    margin: 0 !important;
}

@media only screen and (max-width: 750px) {
    .editorContain {
        width: 80vw;
    }
}
